* {
  padding: 0;
  margin: 0;
  
  /* box-sizing: border-box; */
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
}
.cell {
    /* width: 20px;
    height: 20px; */
    /* border: solid 1px black; */

    display: flex;

    box-sizing: border-box;
  }
  .container {
    border: solid 3px rgb(0, 0, 102);

    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content:flex-start;

  }

  /* .hover {
    /* background-color: green; */